.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    transition: .3s
}

.top-row {
    height: 4.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: 'Edwardian Script ITC';
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

@media (max-width: 640.98px) {

    .top-row {
        position:fixed;
        width: 100%;
        height: 4.5rem;
        background-image: linear-gradient(90deg, #5028d1 0%, #3a0647 70%);
    }
    .flex-column {
        background-image: linear-gradient(90deg, #5028d1 0%, #3a0647 70%);
        position:fixed;
        top:70px;
        width:100%;
    }
    }
