.media-img {
    max-height: 500px;
    max-width:500px;
    border-radius: 6px;
    margin: 0 10px 10px 10px;
}

.media-img-wrapper {
    max-width: 500px;
    max-height: 500px;
    text-align:center;
}
p{
    margin-right: 70px;
}
.media-body {
    margin-top: 110px;
    margin-left: 40px;
    transition: .5s;
}
.original-price {
    text-decoration: line-through;
}
.form-select{
    width: auto;
}

@media (max-width:1023.98px) {
    .media {
        flex-direction: column;
        transition: .5s;
    }
    .media-body {
        margin: 10px;
        transition: .5s;
    }
    .media-img {
        max-width:300px;
    }
    .media-img-wrapper {
        width: 100%;
        height:auto;
    }
}